{% extends 'base.html' %}

{% block content %}
	<h2>DETAIL</h2>
	<hr>
	<h3>{{ article.pk }}번글</h3>
	<p>제목: {{ article.title }}</p>
	<p>내용: {{ article.content }}</p>
	<p>생성 시각: {{ article.created_at }}</p>
	<p>수정 시각: {{ article.updated_at }}</p>
	<a href="{% url 'articles:index' %}">BACK</a>

	<hr>

	<div class="btn btn-primary">댓글</div>
	{% for comment in article.comment_set.all %}
	    <p>{{ comment.content }}<a href="{% url 'articles:c_delete' article.id comment.id %}">삭제</a></p>
	{% empty%}
		<p>관심과 사랑이 필요합니다 ㅠㅠ</p>
	{% endfor %}
	<hr>
	<form action="{% url 'articles:comments' article.pk %}" method="POST">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button class="btn btn-primary">작성</button>
	</form>
{% endblock %}