<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>exercise</title>
</head>
<body>
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <h2>{{ request.user.username }}님 안녕하세요!</h2>
    <a href="{% url 'accounts:logout' %}">LOGOUT</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">LOGIN</a>
    <a href="{% url 'accounts:signup' %}">SIGNUP</a>
  {% endif %}
  <hr>
  {% block content %}
  {% endblock %}
</body>
</html>